## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [17]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [18]:
# Your code here
sample_list_1=random.sample(range(0,101), k=80)
len(sample_list_1)

80

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set1= set((sample_list_1))
print(len(set1))

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
sample_list_2 = []

for number in random.sample(range(0,101),80):
    sample_list_2.append(number)
print(sample_list_2)

[19, 94, 32, 16, 89, 69, 87, 36, 74, 68, 41, 8, 92, 45, 7, 53, 75, 42, 23, 40, 67, 64, 3, 82, 26, 81, 98, 0, 13, 97, 57, 10, 25, 39, 65, 52, 76, 90, 83, 59, 28, 9, 71, 6, 51, 96, 55, 5, 62, 33, 27, 56, 60, 88, 46, 4, 43, 73, 29, 50, 61, 47, 44, 30, 80, 38, 79, 86, 22, 18, 100, 99, 66, 34, 78, 63, 12, 49, 2, 14]

In [21]:
len(sample_list_2)

80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [22]:
# Your code here
set2= set((sample_list_2))
print(len(set2))
#print(type(set2))

80

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [23]:
# Your code here

set3_list= []

for elements in set1:
    if elements not in set2:
        set3_list.append(elements)

set3 = set((set3_list)) 

print(set3)
#print(type(set3))

{1, 35, 37, 72, 11, 15, 48, 17, 20, 21, 54, 85, 58, 91, 93, 31}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [24]:
# Your code here

set4_list = []
for elements in set2:
    if elements not in set1:
        set4_list.append(elements)
set4 = set((set4_list))

print(set4)
#print(type(set4))

{3, 36, 7, 39, 40, 41, 75, 81, 51, 86, 23, 25, 26, 59, 60, 94}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [25]:
# Your code here
set5_list = []

for element in set1:
    if element in set2:
        set5_list.append(element)
set5 = set((set5_list))
print(set5)

{0, 2, 4, 5, 6, 8, 9, 10, 12, 13, 14, 16, 18, 19, 22, 27, 28, 29, 30, 32, 33, 34, 38, 42, 43, 44, 45, 46, 47, 49, 50, 52, 53, 55, 56, 57, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 73, 74, 76, 78, 79, 80, 82, 83, 87, 88, 89, 90, 92, 96, 97, 98, 99, 100}

#### 8 - Create an empty set called `set6`.

In [26]:
# Your code here
set6 = set(())
print(type(set6))

<class 'set'>

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [27]:
# Your code here

set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 76, 78, 79, 80, 82, 83, 85, 87, 88, 89, 90, 91, 92, 93, 96, 97, 98, 99, 100}

#### 10 - Check if `set1` and `set6` are equal.

In [33]:
# Your code here
print(set1 == set6)
#diferenca dos set ser vazia -> funciona 
print(set1)
print(set6)

True
{0, 1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 76, 78, 79, 80, 82, 83, 85, 87, 88, 89, 90, 91, 92, 93, 96, 97, 98, 99, 100}
{0, 1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 76, 78, 79, 80, 82, 83, 85, 87, 88, 89, 90, 91, 92, 93, 96, 97, 98, 99, 100}

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [29]:
# Your code here
conclusion = set2.issubset(set1)
print(conclusion)

conclusion_2 = set3.issubset(set1)
print(conclusion_2)

False
True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [30]:
# Your code here
mega_set = set3.union(set4)
mega_set=mega_set.union(set5)

second_mega_set = set1.union(set2)

print(mega_set)
print(second_mega_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [31]:
# Your code here
set1.pop(0)

#can't do this because sets are unordered and impossible to apply indexes

TypeError: pop() takes no arguments (1 given)

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for elements in list_to_remove:
    if elements in set1:
        set1.discard(elements)
print(set1)

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [ ]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

no_repetion_father_Jo = father_list.symmetric_difference(Jo_list)
print(no_repetion_father_Jo)

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [ ]:
# Your code here

father_set = set((father_list))
jo_set = set((Jo_list))
carlos_list= set((Carlos_list))
mother_set = set((mother_list))
mattia_set = set((Mattia_list))

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [ ]:
# Your code here
mattia_set = carlos_list.symmetric_difference(jo_set)
print(mattia_set)

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [ ]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

In [35]:
# Your code here
mother_list = []
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

items_choosen = random.choices(items,k=10)
print(items_choosen)

for food in items_choosen:
    if items_choosen.count(food) == 1:
        mother_list.append(food)
        while len(items_choosen) < 10:
            a= items.difference(items_choosen)
            mother_list.append(a)
        
print(mother_list)

['milk', 'cherries', 'flour', 'juice', 'juice', 'blueberries', 'cherries', 'juice', 'sugar', 'vinegar']
['milk', 'flour', 'blueberries', 'sugar', 'vinegar']

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [ ]:
for element in mattia_set:
    if element == "toilet paper":
        mattia_set.discard(element)
        
for element in father_set:
    if element == "toilet paper":
        father_set.discard(element) 
        
for element in mother_set:
    if element == "toilet paper":
        mother_set.discard(element)

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [ ]:
# Your code here
between_father_mattias = father_set.symmetric_difference(mattia_set)
between_men_mother = between_father_mattias.symmetric_difference(mother_set)

print(between_men_mother)

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [ ]:
# Your code here
between_men_mother = {'juice', 'milk', 'sugar', 'water', 'onions', 'cherries', 'garlic'}
while len(between_men_mother) > 5:
    between_men_mother.pop()
print(between_men_mother)